.menu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	.menu {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 600px;
		height: 600px;
		padding: 0;
		margin: 0;
		.title {
			color: transparent;
		}
		li {
			position: absolute;
			left: 0;
			list-style: none;
			transform-origin: 300px;
			transition: 0.5s;
			transition-delay: calc(0.1s * var(--i));
			transform: rotate(0deg) translateX(270px);
			z-index: 100;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60px;
				height: 60px;
				font-size: 1.5em;
				color: transparent;
				border-radius: 50%;
				transform: rotate(calc(360deg / -6 * var(--i)));
				transition: 1s;
				transition-delay: 0.5s;
				&::before {
					content: "";
					position: absolute;
					top: -25px;
					width: 60px;
					height: 2px;
					background-color: var(--color);
					border-radius: 2px;
					transform: rotate(calc(var(--i) * 180deg)) translate(0.25px);
					transition: height 0.5s, width 0.5s, transform 0.5s;
					transition-delay: 0s, 0s, 0s;
				}
				&::after {
					content: "";
					position: absolute;
					left: 50px;
					width: 60px;
					height: 2px;
					background: var(--color);
					border-radius: 2px;
					z-index: -1;
					transform: rotate(calc(var(--i) * 0deg)) translate(50px, 0px);
					transition: 0.5s;
					transition-delay: 0.5s;
				}
			}
		}
		.menuToggle {
			position: absolute;
			top: 50%;
			transform: translateY(-100%);
			width: 60px;
			height: 60px;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10000;
			border-radius: 50%;
			cursor: pointer;
			font-size: 2em;
			transition: transform 1.5s;
			&:hover {
				color: green;
				transition: transform 1.5s, color 0.5s;
			}
		}
	}
}

.menu.active {
	li {
		transform: rotate(calc(360deg / 6 * var(--i)));
		&:hover {
			.title {
				color: var(--color);
			}
		}
		a {
			color: var(--color);
			&::after {
				display: none;
			}
			&::before {
				width: 150px;
				height: 150px;
				border: 2px solid var(--color);
				box-sizing: border-box;
				background-image: var(--img);
				background-size: cover;
				background-position: top;
				background-position: left;
				transform: rotate(calc(var(--i) * 180deg)) translate(0px, 0px);
				transition: transform 0.5s, height 0.5s, width 0.5s;
				transition-delay: 1s, 1.5s, 1.5s;
			}
		}
	}
	.menuToggle {
		transform: rotate(360deg);
		&:hover {
			color: red;
			transition: transform 1.5s, color 0.5s;
		}
	}
	.title {
		position: absolute;
		width: 200px;
		top: 0;
		bottom: 0;
		transform-origin: 30px;
		transform: rotate(calc(var(--i) * 300deg)) translate(-40px, -77px);
		font-size: 20px;
		color: #fff;
	}
	.rotate a::before {
		transform: rotate(360deg);
	}
}
