@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


.container{
  font-family: "Poppin", sans-serif;
	background-color: #636363;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.book {
	height: 85vh;
  aspect-ratio: 15/21;
	position: relative;
	transition-duration: 1s;
	perspective: 1500;
}
	input {
		display: none;
	}
.cover, .back-cover {
	background-image: url(../../../public/assets/couverture.png);
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}
.cover {
	position: absolute;
	z-index: 4;
	transition: transform 1s;
  p{
    display: flex;
    color: rgb(231, 197, 0);
    font-family: "monteCarlo";
    font-size: 70px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-shadow: 3px 3px 2px rgb(73, 62, 0);
    transition: opacity 0.1s 0.3s;
		opacity: 1;
		z-index: 1;
  }
}

.cover .front-page label{
	position: absolute;
	height: 83vh;
  aspect-ratio: 15/21;
	border-radius: 0 15px 15px 0;
	margin-top: 10px;
	top: 0;
	left: 0;
	transform: rotateY(0deg);
	cursor: pointer;
	z-index: 2;
}
.back-cover {
	position: relative;
	z-index: 1;
}
.page {
	position: absolute;
	background-color: #f3f3eb;
	height: 83vh;
  aspect-ratio: 15/21;
	border-radius: 0 15px 15px 0;
	margin-top: 10px;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1.5s;
}
.front-page {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 1rem;
}
.back-page {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 99;
}
.next, .prev {
	position: absolute;
	bottom: 1em;
	cursor: pointer;
}
.next {
	right: 1em;
}
.prev {
	left: 1em;
}
#page0 {
	z-index: 9;
}
#page1 {
	z-index: 8;
}
#page2 {
	z-index: 7;
}
#page3 {
	z-index: 6;
}
#page4 {
	z-index: 5;
}
#page5 {
	z-index: 4;
}
#page6 {
	z-index: 3;
}
#page7 {
	z-index: 2;
}
#checkbox-page0:checked ~ .book {
	transform: translateX(200px);
}
#checkbox-page0:checked ~ .book .cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	transform: rotateY(-180deg);
	z-index: 1;
}
	#checkbox-page0:checked ~ .book .cover p{
		transition: opacity 0.1s 0.4s;
		opacity: 0;
	}
#checkbox-page0:checked ~ .book .page {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox-page1:checked ~ .book #page0 {
	transform: rotateY(-180deg);
	z-index: 2;
}
#checkbox-page1:checked ~ .book #page1 {
	transform: rotateY(-180deg);
	z-index: 3;
}
#checkbox-page2:checked ~ .book #page2 {
	transform: rotateY(-180deg);
	z-index: 4;
}
#checkbox-page3:checked ~ .book #page3 {
	transform: rotateY(-180deg);
	z-index: 5;
}
#checkbox-page4:checked ~ .book #page4 {
	transform: rotateY(-180deg);
	z-index: 6;
}
#checkbox-page5:checked ~ .book #page5 {
	transform: rotateY(-180deg);
	z-index: 7;
}
#checkbox-page6:checked ~ .book #page6 {
	transform: rotateY(-180deg);
	z-index: 8;
}
#checkbox-page7:checked ~ .book #page7 {
	transform: rotateY(-180deg);
	z-index: 9;
}

#page4 .linkInternet{
	display: none;
}
#page7 .linkGithub{
	display: none;
}
.dernierePage{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: "monteCarlo";
gap: 25px;
.aurevoir1, .aurevoir2,.aurevoir3{
	display: flex;
	text-align: center;
	font-size: 35px;
	word-spacing: 7px;
	color: black;
	}

}