.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 27px;
  }
  img{
    border-radius: 15px;
    margin: 20px 0;
  }
  p{
    padding: 0 10px;
    font-size: 20px;
    line-height: 28px;
  }
}