#root {
	position: relative;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 90%)
}

h1 {
	width: 100%;
	text-align: center;
	color: gold;
	font-size: 40px;
	background: none;
	box-sizing: border-box;
	margin: 0;
	padding-top: 20px;
	pointer-events: none;
	@media (max-width: 425px) {
		font-size: 30px;
	}
}
